@font-face {
    font-family:'Butter Fly FREE';
    src: url('../fonts/ButterFlyFREE.ttf');
}
@font-face {
    font-family:'ARB85';
    src: url('../fonts/ARB85.ttf');
}
@font-face {
    font-family:'Dezire Stacked';
    src: url('../fonts/DezireStacked.ttf');
}
@font-face {
    font-family:'Palm Beach';
    src: url('../fonts/PalmBeach.ttf');
}
@font-face {
    font-family:'BambankScript';
    src: url('../fonts/TheBambankScript.ttf');
}
@font-face {
    font-family:'WoodCraft';
    src: url('../fonts/WoodCraft.ttf');
}
@font-face {
    font-family:'CHICK';
    src: url('../fonts/CHICK.TTF');
}
@font-face {
    font-family:'Chocoladine';
    src: url('../fonts/ChocoladineDemo.ttf');
}
@font-face {
    font-family:'Kortz';
    src: url('../fonts/Kortz.ttf');
}
@font-face {
    font-family:'PowerPuffGirls';
    src: url('../fonts/powerpuffgirlsfont.ttf');
}
@font-face {
    font-family:'SHOCARD';
    src: url('../fonts/SHOCARD.TTF');
}
@font-face {
    font-family:'BambankScript';
    src: url('../fonts/TheBambankScript.ttf');
}

.butt {
    font-family: 'Butter Fly FREE';
    font-size: 40px;
}
.gruv {
    font-family: 'gruvilicious';
    font-size: 40px;
}
.dezi {
    font-family: 'Dezire Stacked';
    font-size: 40px;
}
.choc {
    font-family: 'Chocoladine';
    font-size: 40px;
}
.wood {
    font-family: 'Woodcraft';
    font-size: 60px;
}
.palm {
    font-family: 'Palm Beach';
    font-size: 80px;
}
.powe {
    font-family: 'Powerpuff Girls';
    font-size: 40px;
}
.ARB {
    font-family: 'ARB85';
    font-size: 40px;
}
.CHIC {
    font-family: 'CHICK';
    font-size: 40px;
}
.kortz {
    font-family: 'Kortz';
    font-size: 40px;
}
.SHO {
    font-family: 'SHOCARD';
    font-size: 40px;
}